<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
    <title>Grid Auto layout page</title>
</head>
<body>
    
<div class="container">
    <div class="row">
        <div class="col-6 bg1">
            <h1>Product one</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus fugiat nulla beatae iusto ipsum ut quod fuga voluptatibus vitae tenetur eum optio consequuntur qui esse dolor cum, labore dolores?</p>
        </div>
    </div>
    <div class="row">
        <div class="col bg2">
            <h1>Product two</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus fugiat nulla beatae iusto ipsum ut quod fuga voluptatibus vitae tenetur eum optio consequuntur qui esse dolor cum, labore dolores?</p>
        </div>
    </div>
    <div class="row">
        <div class="col bg3">
            <h1>Product three</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium accusamus fugiat nulla beatae iusto ipsum ut quod fuga voluptatibus vitae tenetur eum optio consequuntur qui esse dolor cum, labore dolores?</p>
        </div>
    </div>
    

</div>
</div>
 <div class="container-fluid">
     <div class="row">
         <div class="col-md-8 bg4">
             <h1>Prouct four</h1>
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos at natus exercitationem nisi quas dolore necessitatibus vel ab. Modi sunt repudiandae impedit doloremque culpa necessitatibus possimus nostrum alias, asperiores deleniti.</p>

         </div>
         <div class="row">
            <div class="col-md-4 bg4">
                <h1>Prouct five</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos at natus exercitationem nisi quas dolore necessitatibus vel ab. Modi sunt repudiandae impedit doloremque culpa necessitatibus possimus nostrum alias, asperiores deleniti.</p>
   
            </div>
     </div>
     <div class="container">
        <div class="row">
            <div class="col-xl-4 bg4">
                <h1>Prouct six</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos at natus exercitationem nisi quas dolore necessitatibus vel ab. Modi sunt repudiandae impedit doloremque culpa necessitatibus possimus nostrum alias, asperiores deleniti.</p>
   
            </div>
            <div class="row">
               <div class="col-xl-8 bg1">
                   <h1>Prouct seven</h1>
                   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos at natus exercitationem nisi quas dolore necessitatibus vel ab. Modi sunt repudiandae impedit doloremque culpa necessitatibus possimus nostrum alias, asperiores deleniti.</p>
      
               </div>
               <div class="row">
                <div class="col-xl-2 bg2">
                    <h1>Prouct eight</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos at natus exercitationem nisi quas dolore necessitatibus vel ab. Modi sunt repudiandae impedit doloremque culpa necessitatibus possimus nostrum alias, asperiores deleniti.</p>
       
                </div>
        </div>

    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>